#board, #board * {
	font: bold 24px Georgia, Times New Roman, serif;
}
#board p {
	text-align: center;
}
#game {
	text-align: left;
	border: 5px solid black;
	width: 430px;
	height: 300px;
	background: #013;
	color: #000;
	-moz-user-select: none;
	cursor: crosshair;
	margin: 20px auto;
}
.piece {
	text-align: center;
	border: 5px solid #fff;
	background: #fff;
	position: relative;
	-moz-user-select: none;
	cursor: crosshair;
	left: -1000px;
}
.blown {
	position: relative;
	z-index: 2;
	text-align: center;
	-moz-user-select: none;
}
#explode {
	width: 200px;
	height: 150px;
	position: absolute;
	z-index: 1;
	left: -1000px;
	-moz-user-select: none;
}
#score {
	margin: 0 auto;
	width: 400px;
	padding: 0 40px;
}
#score label {
	margin: 0 20px;
	text-align: center;
	display: inline;
	line-height: 30px;
	
}
#score input {
	border: 5px solid black;
	width: 50px;
	height: 30px;
	text-align: center;
	display: inline;
}
#message {
	width: 500px;
	height: 300px;
	background: white;
	text-align: center;
}
