article a {
	color: #000;
	text-decoration: underline;
	cursor: pointer;
}
article h1 {
	width: 651px;
	font-family: Georgia, serif;
	font-size: 26px;
	font-weight: normal;
	text-align: left;
	display: block;
	margin: 0 0 3px 74px;
	padding: 0;
	line-height: 30px;
}
article .section {
	width: 594px;
	background: #fff;
}
article .section ul {
	list-style: disc;
}
article .date {
	display: block;
	float: left;
	background: #d3e4ff;
	width: 64px;
	padding: 5px 0;
	margin: 45px 0 0 9px;
	font: 16px Georgia;
	line-height: 20px;
	text-align: center;
	border-left: 1px solid #758eaf;
	border-bottom: 1px solid #758eaf;
	position: absolute;
}

article .section {
	margin-left: 74px;
	border-left: 1px solid #758eaf;
	border-bottom: 1px solid #758eaf;
	padding: 10px 20px;
	line-height: 1.5;
}
article .section li {
	clear: none;
	margin: 0 0 10px;
	padding: 0;
	zoom: 0;
}
article .section h2,
article .section h3,
article .section h4,
article .section h5,
article .section h6 {
	font: bold 1em Verdana;
	text-align: left;
	border: 0;
	margin: 0;
	padding: 0;
}

@media (max-width: 930px) {
	article h1 {
		width: 501px;
	}
	article .section {
		width: 444px;
	}
}
