html, body {
	background: #013;
	color: #000;
}
a { color: #000; text-decoration: underline; cursor: pointer }
.tags, .tags * { color: #999 }
#wrapper { background: #acf }
.section { background: #fff }

html, body {
	font: 12px Verdana, sans-serif;
	line-height: 1.5;
	margin: 0;
}
h1,h2,h3,h4,h5,h6 { font-family: Georgia, serif }

a img { border: 0; }

#main .section ul {
	list-style: disc;
}

html { text-align: center; width: 100% }
#body { margin: 0 auto; text-align: left }

#header {
	position: relative;
	z-index: 10;
	display: block;
	margin-top: 23px;
	height: 126px;
	width: auto;
}
#header a.logo {
	width: 336px;
	height: 0;
	overflow: hidden;
	padding-top: 99px;
	display: block;
	background: url(tfotw-logo.gif) no-repeat;
}

#nav {
	position: absolute;
	list-style: none;
	right: 50px;
	top: 51px;
	margin: 0;
}
#nav a {
	display: block;
	padding: 0 0.75em;
	text-decoration: none;
	color: #AACCFF;
}
#nav li {
	float: left;
	background: blue;
	margin-right: 20px;
	background: #465E87;
	position: relative;
	top: -2em;
	line-height: 2em;
}
#nav li.selected {
	background: #AACCFF;
	font-weight: bold;
	font-size: 120%;
}
#nav li.selected a {
	color: #001133;
}
#header small.slogan {
	font: 12px Verdana, sans-serif;
	color: #9be;
	display: block;
	position: absolute;
	top: 30px;
	right: 48px;
}

#header form {
	position: absolute;
	top: 71px;
	right: 67px;
	display: inline;
	vertical-align: middle;
}
#header form input { display: inline }

#wrapper {
	margin: -75px 48px 0;
	list-style-type: none;
	padding: 50px 0 0;
	position: relative;
	zoom: 1;
}

#main {
	list-style: none;
	margin: 0;
	padding: 0 0 20px 0;
} 	
#main li {
	clear: both;
	margin: 0;
	padding: 20px 0;
}
#main h1 {
	font-size: 26px;
	font-weight: normal;
	text-align: left;
	display: block;
	margin: 0 0 3px 74px;
	padding: 0;
	line-height: 30px;
}

#main a:hover {
	background: #D4E5FF;
}

#main .date {
	display: block;
	float: left;
	background: #D3E4FF;
	width: 64px;
	padding: 5px 0;
	margin: 45px 0 0 9px;
	font: 16px Georgia;
	line-height: 20px;
	text-align: center;
	border-left: 1px solid #758EAF;
	border-bottom: 1px solid #758EAF;
	position: absolute;
}

#main .section {
	margin-left: 74px;
	border-left: 1px solid #758EAF;
	border-bottom: 1px solid #758EAF;
	padding: 10px 20px;
	line-height: 1.5;
}
#main .section li {
	clear: none;
	margin: 0 0 10px;
	padding: 0;
	zoom: 0;
}

#main .section h2, #main .section h3, #main .section h4, #main .section 
h5, #main .section h6 {
	font: bold 1em Verdana;
	text-align: left;
	border: 0;
	margin: 0;
	padding: 0;
}

.side {
	position: absolute;
	right: -55px;
	top: 70px;
	padding: 0;
	margin: 0;
	text-align: left;
	width: 145px;
	overflow: hidden;
	list-style: none;
}

.side h1 {
	font: normal 16px Georgia;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin: 0;
	border-bottom: 1px solid #7C97BF;
}
#body .side .section {
	padding: 0 0 0 7px;
	margin: 0;
	font-size: 11px;
	background: transparent url(side_side.png) left repeat-y;
	zoom: 1;
}

.side li {
	margin-bottom: 20px;
	padding: 0 0 8px 0;
	zoom: 1;
	background: transparent url(side_bottom.png) bottom left 
no-repeat;
}
.side .section li {
	border: 0;
	padding: 0;
	background: transparent url(side_side.png) -10px 0 repeat-y;
	margin-bottom: 5px;
}
.side ul, .side ol {
	margin: 0;
	padding: 10px;
	list-style-type: none;
}

.side .archive li, .side .categories li {
	margin: 0 !important;
}

abbr { cursor: help; border-bottom: 1px dotted }

h3 {
	font: bold 12px Verdana, sans-serif;
}
br.clear { clear: both; height: 0; }

code, var { font-family: Courier New, monospace; font-style: normal; }
cite { display: block; margin: 0 40px; }
.pre, pre { width: 93%; overflow: auto; padding: 15px 10px 15px; border: 
1px dashed black; background: #E8F1FF; }
ins { text-decoration: none; font-style: italic; }

#me {
	border: 2px solid black;
	width: 75px;
	height: 99px;
	margin: 15px 0 0 29px;
}

#addcomment {
	background: #E8F1FF;
	padding: 15px;
}

#main #addcomment h3 {
	font: bold 16px Georgia;
}
.comment {
	text-align: left;
	clear: both;
	margin: 10px 0;
}
.comment img {
    float: left;
    margin: 16px 0;
}
.comment p {
    margin-left: 60px;
}
#addcomment p {
	margin-left: 0;
}
#main .comments h2 {
	margin: 0 0 5px 75px;
}
.tags, .commentlink {
	font-size: 0.9em;
	margin-bottom: 10px;
}

textarea, input {
	font: 1.0em Verdana, sans-serif;
    padding: 2px;
	display: block;
}
textarea {
	width: 410px;
	height: 150px;
}
#main input {
	width: 275px;
}
#main input.submit {
	width: auto;
	margin-top: 10px;
}
label, .textlabel {
	font-size: 0.9em;
	font-weight: bold;
	margin-top: 10px;
	display: block;
}

form {
	padding: 0;
	margin: 0;
}

.section table, td, th {
    border: 1px solid #013;
}
td, th {
    padding: 5px;
}

#hireme {
	width: 560px;
}
#hireme a {
	display: block;
	text-decoration: none;
	color: #000;
	font: 13px Georgia, serif;
	text-align: right;
	border: 5px solid black;
	padding: 10px;
	margin: 20px 0 20px 75px;
	background: #fff;
	cursor: pointer;
}
#hireme big {
	margin: -5px 0 0 0;
	float: left;
	font: bold 50px Georgia, serif;
	color: #000;
}
#older, #newer {
    color: #acf;
    margin: 0 0 20px 0;
}
#older {
    float: left;
	margin-left: 76px;
}
#newer {
    float: right;
	margin-right: 104px;
}

#footer {
	color: #aaa;
    clear: both;
	font: 10px Verdana, sans-serif;
	text-align: center;
	margin: 10px 30px 10px 0;
}
#footer img {
	vertical-align: middle;
}
#footer a {
	color: #aaa;
	text-decoration: none;
}

/* search */
form.search-results {
    margin: 10px 0 20px;
}
form.search-results input {
    display: inline;
}
form.search-results input.submit {
	width: auto;
}
#main ol.search-results .date {
	font: 12px Verdana;
	position: static;
	margin: 0 0 10px 0;
	padding: 0;
	border: 0;
	display: block;
	text-align: right;
	height: auto;
	width: 100%;
	background: transparent;
    font-style: italic;
}
ol.search-results .read-more {
    font-style: italic;
}

.ads {
    text-align: right;
    margin: 0 auto;
    width: 468px;
}
.ads a {
    font-size: 10px;
}

#body .side .side-ads .section {
	font-size: 9px;
	line-height: 1.5;
}

ul.portfolio {
	margin: 0;
}
ul.portfolio img {
	float: left;
	clear: both;
	margin: 20px 20px 20px 0;
	border: 1px solid black;
}
ul.portfolio p {
	margin-top: 15px;
	margin-left: 222px;
}
ul.portfolio p.tech {
	font-size: 0.8em;
}
ul.portfolio li {
	float: left;
	clear: both;
}

#body { width: 910px; }
#main h1 { width: 651px; }
#main .section { width: 594px; }
#main.standalone .section { margin-left: 90px }
#main.standalone h1 { margin-left: 90px; margin-top: 20px }

body.thin #body { width: 760px; }
body.thin #main h1 { width: 501px; }
body.thin #main .section { width: 444px; }
body.thin #main.standalone .section { width: 594px; margin-left: 15px }
body.thin #nav li { margin-right: 7px }

form.sending .send-row {
	width: 80px;
	background: url(../images/ajax-loader.gif) right center 
no-repeat;
}
.ajax-msg {
	border:1px solid #000;padding:20px;background:#e3e3e3
}
#blog-all {
	margin: 0;
	padding: 0;
}
#main .section #blog-all li {
	margin-bottom: 20px;
	list-style: none;
}
